@import 'variables/variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Railway', sans-serif;
    text-align: center;
}

#home {
    background: $primary-bg;
    overflow: hidden;
    z-index: -1;
}

.preloader {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('loading.gif');
    background-repeat: no-repeat;
    background-color: #191f26;
    background-position: center;
}

.container {
    font-size: 32pt;
    line-height: 36pt;
    color: white;
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;


    .intro {
        z-index: 2 !important;
    }

    #name {
        color: $highlight;
        font-family: 'Raleway-semibold', sans-serif;
    }

    .text {
        margin: 0 0 20px 0;
    }

    .button {
        line-height: 18px;
        border: 2px solid #fff;
        font-size: 16pt;
        padding: 12px 20px 12px 20px;
        position: relative;
        margin-bottom: 53px;
        transition: all .5s;
        cursor: pointer;
        vertical-align: middle;

        &:hover {
            background: $secondary-bg;
            border-color: $secondary-bg;
        }
    }

    .fa-angle-down {
        transform: rotate(-90deg);
        margin-left: 1em;
        position: relative;
        font-size: inherit;
        transition: 0.5s ease;
    }
}

.highlight {
    color: $highlight;
}

ul {
    list-style: none;

    li {
        line-height: 20pt;
    }
}

nav {
    height: 50px;
    background: $nav-bg;
    border-bottom: 3px solid $nav-border;
    z-index: 99;


    a {
        padding: 15px;
        color: #fff;
        font-size: 12pt;
        line-height: 18pt;
        text-decoration: none;

    }
}

.page-link {
    &:hover {
        cursor: pointer;

        a {
            transition: .1s ease;
            color: $highlight;
        }
    }
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

#about {

    line-height: 18pt;
    padding: 100px 0 50px 0;

}

#about-text {
    font-family: 'Poppins', sans-serif;
    opacity: 0;
    transition: .5s ease;
}

.opacity-vis {
    transition: 2s ease;
    opacity: 1 !important;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    letter-spacing: normal;
    font-size: 30pt;
    font-family: 'Poppins', sans-serif;
    color: $header-color;
    text-align: center;
    margin-bottom: 100px;
}

.animated-left {
    animation: slideInLeft 1s ease both;
}

.animated-right {
    animation: slideInRight 1s ease both;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
}

.icons {
    color: $secondary-bg;
    font-size: 30pt;
    color: $secondary-bg;
    margin-bottom: 10pt;
}

.icon-wrap {
    flex-direction: row;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card {

    color: #616161;
    width: 20%;
    height: 230px;
    opacity: 0;
}

.label {
    margin-bottom: 10pt;
    font-weight: bold;
}

.space-around {
    justify-content: space-around;
}

.skill-header {
    opacity: 0;
    margin-bottom: 50px;
}

#skills {
    padding-bottom: 50px;
}

section {
    letter-spacing: 2px;
}

#portfolio {
    background: $tertiary-bg;
    padding-bottom: 100px;
}

#projects {
    margin-top: 100px;
}

.gallery {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    width: 100%;
    height: 100%;

    &:hover {
        transition: 0.2s linear;
        opacity: 0.5;
    }
}

.block {
    opacity: 0;
    width: 50%;
}

canvas {
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#contact {
    background: $primary-bg;
    padding-bottom: 80px;
}

.contact-links {
    margin-top: 30px;

    a {
        padding: 10px;

        &:hover {
            .icons {
                transition: 0.5s ease;
                cursor: pointer;
                color: $highlight;
            }
        }
    }

    .icons {
        margin-right: 15px;
        margin-left: 10px;
        transition: .5s ease;
    }
}

#contact-section {
    font-size: 24pt;
    margin-top: 50px;
    color: white;
    margin-bottom: 0;
}

.header-bar {
    margin: 15px 0 40px 0;
    background: #fff;
    width: 110px;
    height: 1px;
}

footer {
    background: $footer;
    color: white;

    .footnote {
        margin-top: 10px;
        padding-bottom: 50px;
    }
}


.fa-angle-double-up {
    padding: 3px 10px 3px 10px;
    background: $nav-border;
    font-size: 24pt;
    transform: translateY(-19px);
    transition: .5s ease;
    color: white;

    &:hover {
        transition: .5s ease;
        cursor: pointer;
        background: $highlight;
        box-shadow: 1px 1px 5px 0px black;
    }
}

#email {
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 12pt;

    &:hover {
        color: $highlight;
    }
}

.project {
    opacity: 0;
}

#menu {
    display: none;
}

.nav-links {
    height: 100%;
}

.fa-times {
    display: none;
}

.animated-scale {
    animation: scaleUp .5s ease-in both;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes scaleUp {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }

}

@media (max-width: 1024px) {
    .wrapper {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .sticky {
        position: fixed;
    }

    .gallery {
        width: 100%;
    }

    .project-wrap {
        width: 95%;
    }

    nav {
        width: 100%;
        overflow: hidden;

        .nav-links {
            height: 100vh;
            background: $nav-bg;
            z-index: 1000;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            display: none;

            .cross {
                display: block;
                color: $highlight;
                font-size: 30pt;
                position: fixed;
                top: 30px;
                right: 30px;
            }
        }

        .wrap {
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            width: 60%;
            margin: 0;

            .page-link {
                width: 100%;
                padding: 50px;
                text-align: center;

                a {
                    font-size: 32pt;
                    padding: 20px 100px;
                }
            }

        }


    }

    #menu {
        color: white;
        font-size: 24pt;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;


        .fa-bars,
            {
            padding: 8px;
            margin-right: 20px;
            z-index: 1;
        }
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;

        .col1 {
            order: 1;
        }

        .col2 {
            order: 3;
        }

        .col3 {
            order: 2;
        }

        .col4 {
            order: 4;
        }
    }

    .card {
        flex: 1 50%;
    }

    .frameworks {
        order: 3;
    }

    .gallery {
        width: 100%;
    }

    #about {
        padding-bottom: 0;
    }

}

@media(min-width: 769px) {
    .nav-links {
        display: block !important;
    }
}

@media(max-width: 500px) {
    .text {
        font-size: 24pt;
    }

    .wrap {
        width: 100% !important;
    }

    .page-link {
        width: unset !important;
    }

    .card {
        flex: 1 100%;
    }

    .gallery {
        flex-direction: column;
    }

    .block {
        width: 100%;
    }
}