* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
}

.indexbody {
    height: 100vh;
}

.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-flow: column;
}

.content {
    width: 100%;
}

.content-container {
    width: 90%;
    margin: 0 auto;
}



a {
    text-decoration: none;
    color: black;
}

img {
    display: block;
    width: 10%;
    height: auto;
    margin: auto;
}

ul {
    padding: 0;
    display: flex;
    flex-flow: column;
}

li {
    list-style: none;
    text-align: center;
    letter-spacing: 2px;
}

li {
    padding-top: 5px;
}

.logo {
    padding-top: 20px;
    text-align: left;
    font-size: 52px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.menu {
    text-align: right;
    cursor: pointer;
}

header nav ul {
    overflow: hidden;
    height: 0;
}

header nav ul.open {
    height: auto;
}

header nav ul li {
    width: 100%;
    margin 0;
}

header nav ul li a {
    margin: 0;
    display: block;
    padding: 20px;
    font-size: 32px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    
}

.background-text {
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 100px;
    font-weight: ;
    font-family: 'Dancing Script', cursive;
    top: 230px;
    transform: translateX(-20px);
    color: #DCDCDC;
    opacity: 0.4;
    z-index: -1;
}

.content p {
    margin: 0;
    padding: 5px 50px;
    font-family: "Poppins", cursive;
    color: #948680;
    text-align: center;
}

.content p:last-child {
    padding-bottom: 0;
}

.rev-block {
    font-family: Poppins;
    font-weight: bold;
    color: black;
    font-size: 100px;
    text-transform: uppercase;
    padding: 0.4em 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rev-block span {
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 1.4s;
}

.rev-block:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background: #00f0b5;
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 1s;
}

@keyframes rev-block {

    0% {
        left: 0;
        width: 0%;
    }

    50% {
        left: 0;
        width: 100%;
    }

    100% {
        left: 100%;
        width: 0%;
    }

}

@keyframes appear-text {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.footer {
    margin: 0;
    padding: 0;
    height: 50px;
    text-align: center;
}

.footer a {
    padding: 10px;
    font-size: 52px;
}

.fa-twitter {
    color: #1DA1F2;
}

.fa-linkedin {
    color: #0077B5;
}

.fa-facebook-square {
    color: #3B5998;
}

.fa-twitch {
    color: #6441a5;
}

/* For Bigger screens */
@media only screen and (min-width: 768px) {
    .menu {
        visibility: hidden;
    }

    .container {
        flex-flow: row;
        width: 90%;
        justify-content: space-between;
    }

    header nav ul {
        overflow: hidden;
        height: auto;
        flex-flow: row;
        padding: 0;
        margin: 0;
    }

    header nav ul li {
        padding-top: 0;
        text-shadow: none;

    }

    header nav ul li a {
        font-size: 18px;
    }

    nav {
        padding-top: 20px;
    }

    .logo {
        text-align: center;
        padding: 20px;
    }

    .name {
        font-size: 18px;
        padding-top: 20px;
    }

    img {
        width: 10%;
        height: auto;
    }
    
    .footer a {
        font-size: 24px;
        padding: 0 10px;
        margin: 0;
    }
    
    .background-text {
        top: 125px;
    }
}
