* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif !important;
}

header {
    width: 100%;
    background: #F8F8FF;
}

span {
    color: #0247FE;
}

.arrow{
    margin-top: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.github {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.container {
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}


#sec-1 {
    height: 100vh;
    background: #e2fbf9;
}

#sec-2 {
    height: 100vh;
    background: #F7E9D4;
}

#sec-3 {
    height: 100vh;
    background: #D4E4F7;
}

#sec-4 {
    background: #1a1a1a ;
}

#intro-head {
    height: 100vh;
}

.fa-github {
     margin-left: auto;
    margin-right: auto;
    font-size: 52px;
    color: black;
    padding: 20px;
}

.fa-caret-down, .fa-caret-up{
    font-size: 56px;
    padding: 20px;
    transition: 0.5s ease;
    color: black;
}

.fa-caret-down:hover, .fa-caret-up:hover {
    cursor: pointer;
    -ms-transform: translate(0, -20px);
    /* IE 9 */
    -webkit-transform: translate(0, -20px);
    /* Safari */
    transform: translate(0, -20px);
    opacity: 0.7;
    transition: 0.5s ease;
}

ul li {
    list-style: none;
}

#skills {
    margin-bottom: 50px;
}

#education {
    margin-bottom: 50px;
}

.top-buffer { margin-top:20px; }

.white {
    color: white;
}

#last-arrow {
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 0;
    
}

#projects {
    margin-top: 40px;
}

footer {
    font-size: 12px;
    text-align: center;
    color: white;
    letter-spacing: 3px;
    height: 150px;
    background: #696969	
}

.card-1 {
    background: url("img/photoGrid.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

.card-2 {
    background: url('img/responsive.png') center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

.card-3 {
    background: url('img/todoList.png') center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

.card-4 {
    background: url('img/purrfect.png') center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

.card-5 {
    background: url('img/theImgGallery.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}