* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif !important;
}

header {
    width: 100%;
    background: #F8F8FF;
}

span {
    color: #0247FE;
}

.container {
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}

#sec-1 {
    height: 100vh;
    background: #FB9902;
}

#sec-2 {
    height: 100vh;
    background: #F7E9D4;
}

#sec-3 {
    height: 100vh;
    background: #D4E4F7;
}

#sec-4 {
    height: 100vh;
    background: #F7F7D4;
}

#intro-head {
    height: 100vh;
}

.fa-github {
    font-size: 24px;
    color: black;
    padding: 20px;
}

.fa-caret-down, .fa-caret-up{
    font-size: 32px;
    padding: 20px;
    transition: 0.5s ease;
    color: black;
}

.fa-caret-down:hover, .fa-caret-up:hover {
    cursor: pointer;
    -ms-transform: translate(0, -20px);
    /* IE 9 */
    -webkit-transform: translate(0, -20px);
    /* Safari */
    transform: translate(0, -20px);
    opacity: 0.7;
    transition: 0.5s ease;
}

ul li {
    list-style: none;
}

#skills {
    margin-bottom: 50px;
}

#education {
    margin-bottom: 50px;
}

.top-buffer { margin-top:20px; }
